In [6]:
import pandas as pd
from pandas import DataFrame

df1 = DataFrame({'key':['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                'data1':range(7)})
df2 = DataFrame({'key':['a', 'b', 'd'],
                'data2': range(3)})
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [7]:
df2

   data2 key
0      0   a
1      1   b
2      2   d

In [8]:
pd.merge(df1,df2)

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [9]:
pd.merge(df1,df2,on='key')

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [10]:
df3 = DataFrame({'lkey': ['b','b','a','c','a','a','b'],
                'data1':range(7)})
df4 = DataFrame({'rkey':['a', 'b', 'd'],
                'data2': range(3)})
pd.merge(df3,df4,left_on='lkey', right_on='rkey')

   data1 lkey  data2 rkey
0      0    b      1    b
1      1    b      1    b
2      6    b      1    b
3      2    a      0    a
4      4    a      0    a
5      5    a      0    a