In [1]:
import pandas as pd
names1880 = pd.read_csv('names/yob1880.txt', names=['name','sex', 'births'])
names1880

,name,sex,births
0,Mary,F,7065
1,Anna,F,2604
2,Emma,F,2003
3,Elizabeth,F,1939
4,Minnie,F,1746
5,Margaret,F,1578
6,Ida,F,1472
7,Alice,F,1414
8,Bertha,F,1320
9,Sarah,F,1288
10,Annie,F,1258
11,Clara,F,1226
12,Ella,F,1156
13,Florence,F,1063
14,Cora,F,1045
15,Martha,F,1040
16,Laura,F,1012
17,Nellie,F,995
18,Grace,F,982
19,Carrie,F,949
20,Maude,F,858
21,Mabel,F,808
22,Bessie,F,796
23,Jennie,F,793
24,Gertrude,F,787
25,Julia,F,783
26,Hattie,F,769
27,Edith,F,768
28,Mattie,F,704
29,Rose,F,700
...,...,...,...
1970,Philo,M,5
1971,Phineas,M,5
1972,Presley,M,5
1973,Ransom,M,5
1974,Reece,M,5
1975,Rene,M,5
1976,Roswell,M,5
1977,Rowland,M,5
1978,Sampson,M,5
1979,Samual,M,5
1980,Santos,M,5
1981,Schuyler,M,5
1982,Sheppard,M,5
1983,Spurgeon,M,5
1984,Starling,M,5
1985,Sylvanus,M,5
1986,Theadore,M,5
1987,Theophile,M,5
1988,Tilmon,M,5
1989,Tommy,M,5
1990,Unknown,M,5
1991,Vann,M,5
1992,Wes,M,5
1993,Winston,M,5
1994,Wood,M,5
1995,Woodie,M,5
1996,Worthy,M,5
1997,Wright,M,5
1998,York,M,5
1999,Zachariah,M,5

In [2]:
names1880.groupby('sex').births.sum()

sex
F     90993
M    110491
Name: births, dtype: int64

In [3]:
years = range(1880, 2015)
pieces = []
columns = ['name', 'sex', 'births']

for year in years:
    path = 'names/yob%d.txt' % year
    frame = pd.read_csv(path, names=columns)
    
    frame['year'] = year
    pieces.append(frame)
    
names = pd.concat(pieces, ignore_index=True)
names

,name,sex,births,year
0,Mary,F,7065,1880
1,Anna,F,2604,1880
2,Emma,F,2003,1880
3,Elizabeth,F,1939,1880
4,Minnie,F,1746,1880
5,Margaret,F,1578,1880
6,Ida,F,1472,1880
7,Alice,F,1414,1880
8,Bertha,F,1320,1880
9,Sarah,F,1288,1880
10,Annie,F,1258,1880
11,Clara,F,1226,1880
12,Ella,F,1156,1880
13,Florence,F,1063,1880
14,Cora,F,1045,1880
15,Martha,F,1040,1880
16,Laura,F,1012,1880
17,Nellie,F,995,1880
18,Grace,F,982,1880
19,Carrie,F,949,1880
20,Maude,F,858,1880
21,Mabel,F,808,1880
22,Bessie,F,796,1880
23,Jennie,F,793,1880
24,Gertrude,F,787,1880
25,Julia,F,783,1880
26,Hattie,F,769,1880
27,Edith,F,768,1880
28,Mattie,F,704,1880
29,Rose,F,700,1880
...,...,...,...,...
1825403,Zedrick,M,5,2014
1825404,Zeid,M,5,2014
1825405,Zeidan,M,5,2014
1825406,Zekeriah,M,5,2014
1825407,Zenas,M,5,2014
1825408,Zephen,M,5,2014
1825409,Zerick,M,5,2014
1825410,Zhaiden,M,5,2014
1825411,Zhalen,M,5,2014
1825412,Zhayden,M,5,2014
1825413,Ziar,M,5,2014
1825414,Zichen,M,5,2014
1825415,Ziden,M,5,2014
1825416,Zierre,M,5,2014
1825417,Ziion,M,5,2014
1825418,Zijun,M,5,2014
1825419,Zilas,M,5,2014
1825420,Zirui,M,5,2014
1825421,Zivon,M,5,2014
1825422,Ziyah,M,5,2014
1825423,Ziyang,M,5,2014
1825424,Zmarion,M,5,2014
1825425,Zo,M,5,2014
1825426,Zyeir,M,5,2014
1825427,Zyel,M,5,2014
1825428,Zykeem,M,5,2014
1825429,Zymeer,M,5,2014
1825430,Zymiere,M,5,2014
1825431,Zyran,M,5,2014
1825432,Zyrin,M,5,2014

In [4]:
total_births = names.pivot_table('births', index='year', columns='sex', aggfunc=sum)
total_births.tail()

sex,F,M
year,,
2010,1772738,1913851
2011,1753500,1893230
2012,1753922,1889414
2013,1745339,1881463
2014,1768775,1901376

In [5]:
total_births.plot(title='Total births by sex and year')

In [6]:
def add_prop(group):
    births = group.births.astype(float)
    group['prop'] = births/births.sum()
    return group
names = names.groupby(['year','sex']).apply(add_prop)

In [7]:
names

,name,sex,births,year,prop
0,Mary,F,7065,1880,0.077643
1,Anna,F,2604,1880,0.028618
2,Emma,F,2003,1880,0.022013
3,Elizabeth,F,1939,1880,0.021309
4,Minnie,F,1746,1880,0.019188
5,Margaret,F,1578,1880,0.017342
6,Ida,F,1472,1880,0.016177
7,Alice,F,1414,1880,0.015540
8,Bertha,F,1320,1880,0.014507
9,Sarah,F,1288,1880,0.014155
10,Annie,F,1258,1880,0.013825
11,Clara,F,1226,1880,0.013474
12,Ella,F,1156,1880,0.012704
13,Florence,F,1063,1880,0.011682
14,Cora,F,1045,1880,0.011484
15,Martha,F,1040,1880,0.011429
16,Laura,F,1012,1880,0.011122
17,Nellie,F,995,1880,0.010935
18,Grace,F,982,1880,0.010792
19,Carrie,F,949,1880,0.010429
20,Maude,F,858,1880,0.009429
21,Mabel,F,808,1880,0.008880
22,Bessie,F,796,1880,0.008748
23,Jennie,F,793,1880,0.008715
24,Gertrude,F,787,1880,0.008649
25,Julia,F,783,1880,0.008605
26,Hattie,F,769,1880,0.008451
27,Edith,F,768,1880,0.008440
28,Mattie,F,704,1880,0.007737
29,Rose,F,700,1880,0.007693
...,...,...,...,...,...
1825403,Zedrick,M,5,2014,0.000003
1825404,Zeid,M,5,2014,0.000003
1825405,Zeidan,M,5,2014,0.000003
1825406,Zekeriah,M,5,2014,0.000003
1825407,Zenas,M,5,2014,0.000003
1825408,Zephen,M,5,2014,0.000003
1825409,Zerick,M,5,2014,0.000003
1825410,Zhaiden,M,5,2014,0.000003
1825411,Zhalen,M,5,2014,0.000003
1825412,Zhayden,M,5,2014,0.000003
1825413,Ziar,M,5,2014,0.000003
1825414,Zichen,M,5,2014,0.000003
1825415,Ziden,M,5,2014,0.000003
1825416,Zierre,M,5,2014,0.000003
1825417,Ziion,M,5,2014,0.000003
1825418,Zijun,M,5,2014,0.000003
1825419,Zilas,M,5,2014,0.000003
1825420,Zirui,M,5,2014,0.000003
1825421,Zivon,M,5,2014,0.000003
1825422,Ziyah,M,5,2014,0.000003
1825423,Ziyang,M,5,2014,0.000003
1825424,Zmarion,M,5,2014,0.000003
1825425,Zo,M,5,2014,0.000003
1825426,Zyeir,M,5,2014,0.000003
1825427,Zyel,M,5,2014,0.000003
1825428,Zykeem,M,5,2014,0.000003
1825429,Zymeer,M,5,2014,0.000003
1825430,Zymiere,M,5,2014,0.000003
1825431,Zyran,M,5,2014,0.000003
1825432,Zyrin,M,5,2014,0.000003

In [8]:
import numpy as np
np.allclose(names.groupby(['year','sex']).prop.sum(), 1)

True

In [9]:
def get_top1000(group):
    return group.sort_values(by='births', ascending=False)[:1000]
grouped = names.groupby(['year', 'sex'])
top1000 = grouped.apply(get_top1000)
top1000

In [10]:
boys = top1000[top1000.sex == 'M']
girls = top1000[top1000.sex == 'F']
total_births = top1000.pivot_table('births', index='year', columns='name', aggfunc=sum)
total_births

name,Aaden,Aaliyah,Aanya,Aarav,Aaron,Aarush,Ab,Abagail,Abb,Abbey,...,Zoa,Zoe,Zoey,Zoie,Zola,Zollie,Zona,Zora,Zula,Zuri
year,,,,,,,,,,,,,,,,,,,,,
1880,NaN,NaN,NaN,NaN,102,NaN,NaN,NaN,NaN,NaN,...,8,23,NaN,NaN,7,NaN,8,28,27,NaN
1881,NaN,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,NaN,...,NaN,22,NaN,NaN,10,NaN,9,21,27,NaN
1882,NaN,NaN,NaN,NaN,85,NaN,NaN,NaN,NaN,NaN,...,8,25,NaN,NaN,9,NaN,17,32,21,NaN
1883,NaN,NaN,NaN,NaN,105,NaN,NaN,NaN,NaN,NaN,...,NaN,23,NaN,NaN,10,NaN,11,35,25,NaN
1884,NaN,NaN,NaN,NaN,97,NaN,NaN,NaN,NaN,NaN,...,13,31,NaN,NaN,14,6,8,58,27,NaN
1885,NaN,NaN,NaN,NaN,88,NaN,6,NaN,NaN,NaN,...,6,27,NaN,NaN,12,6,14,48,38,NaN
1886,NaN,NaN,NaN,NaN,86,NaN,NaN,NaN,NaN,NaN,...,13,25,NaN,NaN,8,NaN,20,52,43,NaN
1887,NaN,NaN,NaN,NaN,78,NaN,NaN,NaN,NaN,NaN,...,9,34,NaN,NaN,23,NaN,28,46,33,NaN
1888,NaN,NaN,NaN,NaN,90,NaN,NaN,NaN,NaN,NaN,...,11,42,NaN,NaN,23,7,30,42,45,NaN
1889,NaN,NaN,NaN,NaN,85,NaN,NaN,NaN,NaN,NaN,...,14,29,NaN,NaN,22,NaN,29,53,55,NaN
1890,NaN,NaN,NaN,NaN,96,NaN,NaN,NaN,6,NaN,...,NaN,42,NaN,NaN,32,7,27,60,65,NaN
1891,NaN,NaN,NaN,NaN,69,NaN,NaN,NaN,NaN,NaN,...,NaN,34,NaN,NaN,29,6,14,52,45,NaN
1892,NaN,NaN,NaN,NaN,95,NaN,NaN,NaN,NaN,NaN,...,NaN,34,NaN,NaN,27,NaN,25,66,53,NaN
1893,NaN,NaN,NaN,NaN,81,NaN,NaN,NaN,NaN,NaN,...,NaN,23,NaN,NaN,34,6,15,67,70,NaN
1894,NaN,NaN,NaN,NaN,79,NaN,NaN,NaN,NaN,NaN,...,NaN,28,NaN,NaN,51,NaN,23,66,64,NaN
1895,NaN,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,NaN,...,NaN,34,NaN,NaN,60,11,38,55,55,NaN
1896,NaN,NaN,NaN,NaN,69,NaN,NaN,NaN,NaN,NaN,...,NaN,36,NaN,NaN,47,NaN,38,72,65,NaN
1897,NaN,NaN,NaN,NaN,87,NaN,NaN,NaN,NaN,NaN,...,NaN,35,NaN,NaN,51,NaN,28,67,79,NaN
1898,NaN,NaN,NaN,NaN,89,NaN,NaN,NaN,NaN,NaN,...,NaN,30,NaN,NaN,62,NaN,28,65,83,NaN
1899,NaN,NaN,NaN,NaN,71,NaN,NaN,NaN,NaN,NaN,...,NaN,27,NaN,NaN,49,6,31,56,60,NaN
1900,NaN,NaN,NaN,NaN,103,NaN,NaN,NaN,NaN,NaN,...,NaN,26,NaN,NaN,48,9,44,99,71,NaN
1901,NaN,NaN,NaN,NaN,80,NaN,NaN,NaN,NaN,NaN,...,NaN,26,NaN,NaN,56,NaN,31,58,57,NaN
1902,NaN,NaN,NaN,NaN,78,NaN,NaN,NaN,NaN,NaN,...,NaN,34,NaN,NaN,58,NaN,23,58,66,NaN
1903,NaN,NaN,NaN,NaN,93,NaN,NaN,NaN,NaN,NaN,...,NaN,19,NaN,NaN,64,NaN,41,83,74,NaN
1904,NaN,NaN,NaN,NaN,117,NaN,NaN,NaN,NaN,NaN,...,NaN,27,NaN,NaN,46,NaN,35,54,74,NaN
1905,NaN,NaN,NaN,NaN,96,NaN,NaN,NaN,NaN,NaN,...,NaN,24,NaN,NaN,66,8,24,55,61,NaN
1906,NaN,NaN,NaN,NaN,96,NaN,NaN,NaN,NaN,NaN,...,NaN,19,NaN,NaN,59,NaN,37,64,58,NaN
1907,NaN,NaN,NaN,NaN,130,NaN,NaN,NaN,NaN,NaN,...,NaN,19,NaN,NaN,53,11,39,92,72,NaN
1908,NaN,NaN,NaN,NaN,114,NaN,NaN,NaN,NaN,NaN,...,NaN,23,NaN,NaN,70,NaN,31,59,53,NaN
1909,NaN,NaN,NaN,NaN,142,NaN,NaN,NaN,NaN,NaN,...,NaN,22,NaN,NaN,59,NaN,39,57,76,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1985,NaN,NaN,NaN,NaN,13133,NaN,NaN,NaN,NaN,314,...,NaN,194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986,NaN,NaN,NaN,NaN,12689,NaN,NaN,NaN,NaN,370,...,NaN,213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987,NaN,NaN,NaN,NaN,12677,NaN,NaN,NaN,NaN,327,...,NaN,247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,NaN,NaN,NaN,NaN,14395,NaN,NaN,NaN,NaN,404,...,NaN,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989,NaN,NaN,NaN,NaN,15315,NaN,NaN,NaN,NaN,470,...,NaN,376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990,NaN,NaN,NaN,NaN,14549,NaN,NaN,NaN,NaN,507,...,NaN,478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,NaN,NaN,NaN,NaN,14241,NaN,NaN,NaN,NaN,451,...,NaN,722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,NaN,14502,NaN,NaN,NaN,NaN,430,...,NaN,980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,NaN,NaN,NaN,NaN,13828,NaN,NaN,NaN,NaN,503,...,NaN,1194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,1451,NaN,NaN,14379,NaN,NaN,NaN,NaN,597,...,NaN,1333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,NaN,1254,NaN,NaN,13283,NaN,NaN,NaN,NaN,549,...,NaN,1726,219,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,831,NaN,NaN,11967,NaN,NaN,NaN,NaN,552,...,NaN,2064,339,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,NaN,1738,NaN,NaN,11163,NaN,NaN,NaN,NaN,645,...,NaN,2361,407,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,NaN,1399,NaN,NaN,10544,NaN,NaN,NaN,NaN,661,...,NaN,2692,478,225,NaN,NaN,NaN,NaN,NaN,NaN
1999,NaN,1088,NaN,NaN,9851,NaN,NaN,211,NaN,710,...,NaN,3237,562,257,NaN,NaN,NaN,NaN,NaN,NaN
2000,NaN,1494,NaN,NaN,9551,NaN,NaN,222,NaN,660,...,NaN,3785,691,320,NaN,NaN,NaN,NaN,NaN,NaN
2001,NaN,3352,NaN,NaN,9531,NaN,NaN,244,NaN,687,...,NaN,4644,822,439,NaN,NaN,NaN,NaN,NaN,NaN
2002,NaN,4778,NaN,NaN,8997,NaN,NaN,256,NaN,600,...,NaN,4883,1182,438,NaN,NaN,NaN,NaN,NaN,NaN
2003,NaN,3671,NaN,NaN,8859,NaN,NaN,276,NaN,625,...,NaN,5084,1469,448,NaN,NaN,NaN,NaN,NaN,NaN
2004,NaN,3485,NaN,NaN,8386,NaN,NaN,258,NaN,504,...,NaN,5361,1622,515,NaN,NaN,NaN,NaN,NaN,NaN
2005,NaN,3455,NaN,NaN,7799,NaN,NaN,287,NaN,452,...,NaN,4956,2270,502,NaN,NaN,NaN,NaN,NaN,NaN
2006,NaN,3739,NaN,NaN,8290,NaN,NaN,298,NaN,404,...,NaN,5152,2847,531,NaN,NaN,NaN,NaN,NaN,NaN
2007,NaN,3951,NaN,NaN,8932,NaN,NaN,313,NaN,349,...,NaN,4931,3031,527,NaN,NaN,NaN,NaN,NaN,NaN
2008,956,4038,NaN,219,8530,NaN,NaN,319,NaN,344,...,NaN,4776,3442,493,NaN,NaN,NaN,NaN,NaN,NaN
2009,1267,4365,NaN,270,7963,NaN,NaN,297,NaN,307,...,NaN,5141,3990,498,NaN,NaN,NaN,NaN,NaN,NaN
2010,450,4657,NaN,438,7450,227,NaN,281,NaN,299,...,NaN,6261,5200,508,NaN,NaN,NaN,NaN,NaN,259
2011,274,5104,NaN,436,7606,NaN,NaN,NaN,NaN,287,...,NaN,6292,6392,523,NaN,NaN,NaN,NaN,NaN,313
2012,223,5495,NaN,435,7509,NaN,NaN,NaN,NaN,NaN,...,NaN,6435,7452,516,NaN,NaN,NaN,NaN,NaN,434
2013,202,5213,NaN,495,7278,NaN,NaN,NaN,NaN,NaN,...,NaN,5957,7210,430,NaN,NaN,NaN,NaN,NaN,566
2014,236,4850,266,531,7334,NaN,NaN,NaN,NaN,NaN,...,NaN,5828,7358,363,NaN,NaN,NaN,NaN,NaN,660

In [11]:
subset = total_births[['John','Harry','Mary','Marilyn']]
subset.plot(subplots=True, figsize=(12,10),grid=False,title='Number of births per year')

array([<matplotlib.axes._subplots.AxesSubplot object at 0x0000023C2782B7B8>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x0000023C20911E10>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x0000023C20919A20>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x0000023C208D15F8>], dtype=object)

In [12]:
table = top1000.pivot_table('prop', index='year', columns='sex',aggfunc=sum)
table.plot(title='Sum of table1000.prop by year and sex',
          yticks=np.linspace(0, 1.2, 13), xticks=range(1880, 2020,10))

In [14]:
df = boys[boys.year == 2010]
df

In [15]:
prop_cumsum = df.sort_values(by='prop', ascending=False).prop.cumsum()
prop_cumsum[:10]

year  sex
2010  M    1677392    0.011538
           1677393    0.020935
           1677394    0.029979
           1677395    0.038941
           1677396    0.047839
           1677397    0.056587
           1677398    0.065171
           1677399    0.073434
           1677400    0.081541
           1677401    0.089625
Name: prop, dtype: float64

In [16]:
prop_cumsum.searchsorted(0.5)

array([116], dtype=int64)

In [17]:
df = boys[boys.year == 1900]
in1900 = df.sort_values(by='prop', ascending=False).prop.cumsum()
in1900.searchsorted(0.5) + 1

array([25], dtype=int64)